html {
  border-top: 0.5rem solid var(--color-accent);
}

body {
  margin-block: 1rem;
  margin-inline: 1rem;
}

@media screen and (width > 960px) {
  body {
    margin-inline: 1.5rem;
  }
}

/*
  Site Header
*/

.site-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media screen and (width > 640px) {
  .site-header {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

/* Branding */
.site-branding {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.site-logo {
  display: block;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.site-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

/* Main Menu */
.main-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main-menu .menu-item {
  flex-grow: 0;
  flex-shrink: 0;
}

/*
  Site Content
*/

.site-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

@media screen and (width > 640px) {
  .site-content {
    max-width: 960px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto 30%;
    gap: 3rem;
  }
}

.post-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.post-footer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  font-size: var(--font-size-small);
  color: var(--color-details);
  margin-top: 1.5rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: var(--border);
}

.post-meta._info {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.post-meta._tags {
  display: flex;
  flex-flow: column nowrap;
}

.tags-label,
.tags-list {
  margin-bottom: 0;
}

.tags-label {
  font-size: var(--font-size-small);
}

.tags-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.tags-list li {
  margin-block: 0;
  padding-left: 0;
  margin-left: 0;
}

.post-footer a {
  text-decoration-color: transparent;
}

.post-footer a:hover,
.post-footer a:focus {
  color: var(--color-foreground);
  text-decoration-color: var(--color-accent);
}

.post-footer a:active {
  color: var(--color-accent-alt);
}

.archive-title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Pagination */
.blog-pagination {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding-block: 1.5rem;
  font-size: var(--font-size-small);
  color: var(--color-details);
}

@media screen and (width > 900px) {
  .blog-pagination {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .blog-pagination a {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .blog-pagination .prev-page:first-child {
    margin-right: auto;
  }

  .blog-pagination .next-page:last-child {
    margin-left: auto;
  }
}

/* Sidebar */
.sidebar {
  font-size: var(--font-size-small);
}

.widget {
  margin-bottom: 1.5rem;
}

.widget .widget-title {
  font-size: var(--font-size-base);
  margin-bottom: 1em;
}

/*
  Site Footer
*/

.site-footer {
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  color: var(--color-details);
  font-size: var(--font-size-small);
}

.site-footer a:hover,
.site-footer a:focus {
  color: var(--color-foreground);
}

.site-footer a:active {
  color: var(--color-accent-alt);
}

.site-footer .footer-menu {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
