<!doctype html>
<html lang="{{- page.lang | default: site.lang -}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.title and page.title != "" -%}
      <title>{{ page.title }} ({{ site.title }})</title>
    {%- else -%}
      <title>{{ site.title }} {%- if site.tagline -%} &mdash; {{ site.tagline }}{%- endif -%}</title>
    {%- endif %}

    {% seo title=false %}
    {% feed_meta %}
    {% json_feed_meta %}
    <link rel="stylesheet" href="{% link assets/css/base.css %}" />
    <link rel="stylesheet" href="{% link assets/css/layout.css %}" />
    <link rel="stylesheet" href="{% link assets/css/theme.css %}" />
    <link rel="stylesheet" href="{% link assets/css/syntax.css %}" />
    {% if site.favicon -%}
      <link rel=" icon" {% if site.favicon.type -%} type="{{ site.favicon.type }}" {%- endif %} href="{{ site.favicon.url | default: site.favicon }}" />
    {%- endif %}
  </head>
  <body>
    {% include header.html %}

    <main class="site-content">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
